extends layout

block content
  .container
  .row
    .col.s12.m6.l3
      .card.blue-grey.hoverable
        .card-content.white-text
          span.card-title.white-text REGISTER
        .card-action
          a(href="/admin/add-user") Click Here
    .col.s12.m6.l3
      .card.blue-grey.hoverable
        .card-content.white-text
          span.card-title.white-text Log in
          p
        .card-action
          a(href="/auth/login") Click Here
    .col.s12.m6.l3
      .card.blue-grey.hoverable
        .card-content.white-text
          span.card-title.white-text Add a Book
          p
        .card-action
          a(href="/admin/add-book") Click Here
    .col.s12.m6.l3
      .card.blue-grey.hoverable
        .card-content.white-text
          span.card-title.white-text Add an Order
          p
        .card-action
          a(href="/admin/add-order") Click Here




