extend layout

block content
    .row
      .col.s4
        form#add-book
            .input-field
                input(type="text", id="book-title" placeholder="Gone with the Wind")
                label(for="book-title") Title
            .input-field
                input(type="text", id="book-author" placeholder="John Steinbeck")
                label(for="book-author") Author
            .input-field
                input(type="text", id="book-price" placeholder="12.99")
                label(for="book-price") Price
            .input-field
                input(type="text", id="book-genre" placeholder="Fantasy")
                label(for="book-genre") Genre: (childrens, classics, fantasy, fiction, history, philosophy, programming, science fiction)
            .input-field
                input(type="text", id="book-isbn" placeholder="102938474949")
                label(for="book-isbn") ISBN#:
            |<br><br>
            button.btn.waves-effect.waves-light(type="submit") Submit
      .col.s8
        .books
            table.striped
                thead
                    tr
                        th(data-field="id") Book Title
                        th(data-field="name") Author
                        th(data-field="price") Book Price
                        th(data-field="deleter") Delete
                tbody
                    for book in books
                        tr.book-obj(data-id="#{book._id}")
                            td #{book.title}
                            td #{book.author}
                            td #{book.price}
                            td <a class="waves-effect waves-light btn delete" data-obj-type="book">Delete</a>

    include layout_scripts
