h1 Add New Book!
form(name="add-book")
  ul
    li Title:
    input(type="text", name="book-title")
    li Author:
    input(name="book-author")
    li Price:
    input(type="text", name="book-price")
    li Genre: ['childrens', 'classics', 'fantasy', 'fiction', 'history', 'philosophy', 'programming', 'science fiction']
    input(type="text", name="book-genre")
    li ISBN:
    input(type="text", name="book-isbn")
  input(type="submit", value="Add Book")

h1 Add New User!
form(name="add-user")
  ul
    li First Name:
    input(name="user-first-name")
    li LastName:
    input(name="user-last-name")
    li Email:
    input(name="user-email")
    li password:
    input(type="password", name="user-password")
    li password confirm:
    input(type="password", name="user-password-conf")
  input(type="submit", value="Add User")


h1 Add New Order!
form(name="add-order")
  ul
    li User ID:
    input(name="order-user-id")
    li Book ID:
    input(name="order-books-id")
  input(type="submit", value="Add Order")
