doctype html
html
  head
    title= 'Nozama Books!'

  body
    img#header-logo(src="/images/nozama_logo1.4.png", alt="Nozama logo")
    h2.header NOZAMA
    nav
      .nav-wrapper
        a.left.button-collapse(href="#", data-activates="mobile-menu")
          i.material-icons menu
        a#cart.right(href="#", data-activates="shopping-cart")
          i.material-icons shopping_cart
        ul.hide-on-med-and-down
          li
            a(href="#") My Account
          li
            a(href="#") Home
          li
            a(href="#cart")

        ul.side-nav#mobile-menu
          li
            a.tooltipped(href="#" data-position="left" data-tooltip="Account info") My Account
          li
            a.tooltipped(href="#" data-position="left" data-tooltip="Go Home") Home
        ul.side-nav#shopping-cart
          li
            a(href="/checkout") Checkout
          li
            a Item 1
          li
            a Item 2
    block content
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/stylesheets/materialize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.min.js')
    //- script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='/javascripts/materialize.js')
    script(src='/javascripts/ajax.js')


