li
  a.tooltipped(href="/" data-position="right" data-tooltip="Go Home") Home
li
  a.tooltipped(href="#" data-position="right" data-tooltip="Account info") My Account
li
  a(href="/auth/logout") Logout

