extends layout

block content
  main
    .container
      ul#genres
        li
        .row
          .col.s12.m8.l10.offset-m2.offset-l1
            .card.hoverable.large#fantasy
              .card-image
                img(src='/images/By_Benjamin_Sloth.jpg')
              .card-content
                span.left.card-title Fantasy
                ul.right
                  li
                    a(href="#") Isaac Asimov - Foundation
                  li
                    a(href="#") Brandon Sanderson - Mistborn
                  li.hide-on-med-and-down
                    a(href="#") George R. R. Martin - A Game of Thrones
              .card-action
                a(href="/genre/fantasy") See More Titles
        li
        .row
          .col.s12.m8.l10.offset-m2.offset-l1
            .card.hoverable.large#history(style='opacity:0')
              .card-image
                img(src='/images/By_Biegun_Wschodni.jpg')
              .card-content
                span.left.card-title History
                ul.right
                  li
                    a(href="/authors?=asimov") Howard Zinn - A People's History of the United States
                  li
                    a(href="#") Winston Churchill - My Early Life
                  li.hide-on-med-and-down
                    a(href="#") James W. Loewen - Lies My Teacher Told Me
              .card-action
                a(href="/genre/history") See More Titles
        li
        .row
          .col.s12.m8.l10.offset-m2.offset-l1
            .card.hoverable.large#philosophy(style='opacity:0')
              .card-image
                img(src='/images/By_Breno_Machado.jpg')
              .card-content
                span.card-title.left Philosophy
                ul.right
                  li
                    a(href="/authors?=asimov") Zen and the Art of Motorcycle Maintenance - Robert M. Pirsig (7.99)
                  li
                    a(href="#") Leviathan - Thomas Hobbes
                  li.hide-on-med-and-down
                    a(href="#") Jean Jacques Rousseau - The Social Contract
              .card-action
                a(href="/genre/philosophy") See More Titles
        li
        .row
          .col.s12.m8.l10.offset-m2.offset-l1
            .card.hoverable.large#comp-sci(style='opacity:0')
              .card-image
                img(src='/images/By_Dominik_Schr_der.jpg')
              .card-content
                span.card-title.left Computer Science
                ul.right
                  li
                    a(href="#") Charles Petzold - Code: The Hidden Language of Computer Hardware and Software
                  li
                    a(href="#") Jon Erickson - Hacking: The Art of Exploitation
                  li.hide-on-med-and-down
                    a(href="#") John Zelle - Python Programming: An Introduction to Computer Science
              .card-action
                a(href="/genre/comp-sci") See More Titles
  include layout_scripts
