extends layout

block content
  main
    .container
      ul#genres
        li
        .row
          .col.s12.m8.l10.offset-m2.offset-l1
            .card.hoverable.large#fiction
              .card-image
                img(src='/images/nozama_logo1.4.png')
              .card-content
                span.left.card-title Fiction
                ul.right
                  li
                    a(href="/authors?=asimov") Isaac Asimov - Foundation
                  li
                    a(href="#") Brandon Sanderson - Mistborn
                  li.hide-on-med-and-down
                    a(href="#") C.S. Lewis - The Chronicles of Narnia
              .card-action
                a(href="#") See More Titles
        li
        .row
          .col.s12.m8.l10.offset-m2.offset-l1
            .card.hoverable.large#history(style='opacity:0')
              .card-image
                img(src='/images/nozama_logo1.6.png')
              .card-content
                span.left.card-title History
                ul.right
                  li
                    a(href="/authors?=asimov") Isaac Asimov - Foundation
                  li
                    a(href="#") Brandon Sanderson - Mistborn
                  li.hide-on-med-and-down
                    a(href="#") C.S. Lewis - The Chronicles of Narnia
              .card-action
                a(href="#") See More Titles
        li
        .row
          .col.s12.m8.l10.offset-m2.offset-l1
            .card.hoverable.large#philosophy(style='opacity:0')
              .card-image
                img(src='/images/nozama_logo1.4.png')
              .card-content
                span.card-title.left Philosophy
                ul.right
                  li
                    a(href="/authors?=asimov") Isaac Asimov - Foundation
                  li
                    a(href="#") Brandon Sanderson - Mistborn
                  li.hide-on-med-and-down
                    a(href="#") C.S. Lewis - The Chronicles of Narnia
              .card-action
                a(href="#") See More Titles
        li
        .row
          .col.s12.m8.l10.offset-m2.offset-l1
            .card.hoverable.large#comp-sci(style='opacity:0')
              .card-image
                img(src='/images/nozama_logo1.6.png')
              .card-content
                span.card-title.left Computer Science
                ul.right
                  li
                    a(href="/authors?=asimov") Isaac Asimov - Foundation
                  li
                    a(href="#") Brandon Sanderson - Mistborn
                  li.hide-on-med-and-down
                    a(href="#") C.S. Lewis - The Chronicles of Narnia
              .card-action
                a(href="#") See More Titles
  include layout_scripts
