img#header-logo(src="/images/nozama_logo1.4.png", alt="Nozama logo")
h2.header NOZAMA
nav
    .nav-wrapper
        a.left#menu-left(href="#", data-activates="mobile-menu")
            i.material-icons menu
        a#cart.right(href="#", data-activates="shopping-cart")
            i.material-icons shopping_cart
        .left#welcome
        if(user)
            a Welcome, #{user.nameFirst}!
        ul.side-nav#mobile-menu
            if(user)
                include logged-in-menu
            else
                include logged-out-menu
            ul.side-nav#shopping-cart
                li
                    a(href="/checkout")
                        b Checkout
                li
                    a Item 1

                li
                    a Item 2
