extend layout

block content
    .row
      .col.s4
        form#add-user
            .row
                .input-field.col.s12
                    input(type="text", id="user-first-name" placeholder='Bilbo', value="Bilbo")
                    label(for="user-first-name") First Name:
                .input-field.col.s12
                    input(type="text", id="user-last-name" placeholder='Baggins')
                    label(for="user-last-name") LastName:
            .row
                .input-field.col.s12
                    input.validate(type="text", id="user-email" placeholder='BBaggins111@shire.co.nz')
                    label(for="user-email") Email:
                .input-field.col.s12
                    input(type="password", id="user-password" placeholder='Password')
                    label(for="user-password") Password:
            |<br><br>
            button.btn.waves-effect.waves-light(type="submit") Submit
      .col.s8
        .users
            table.striped
                thead
                    tr
                        th(data-field="email") Email
                        th(data-field="first-name") First Name
                        th(data-field="last-name") Last Name
                        th(data-field="deleter") Delete
                tbody
                    for user in users
                        tr.user-item(data-id="#{user._id}")
                            td #{user.email}
                            td #{user.nameFirst}
                            td #{user.nameLast}
                            td <a class="waves-effect waves-light btn delete" data-obj-type="user">Delete</a>

    include layout_scripts


