/*OUR COLOR SCHEMES:*/

/*RGBs:
  grandma's pillow: rgba(196,77,88,1)
  Chery pink: rgba(255,107,107, 1);
  Apple chic: rgba(199,244,100, 1);
  PAcifica: rgba(78,205,196, 1);
  MIghty Slate: rgba(85,98,112,1);

*/
/**/

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.delete {
  background-color: rgba(196,77,88, 1);
}
.delete:hover {
background-color: rgba(196,77,88, .75);
}

button.swirly {
  background-color: rgba(78, 205, 196, 1);
}

button.swirly:hover {
  background-color: rgba(78, 205, 196, .75);
}
