body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.delete {
  background-color: rgba(196,77,88, 1);
}
.delete:hover {
background-color: rgba(196,77,88, .75);
}

button.swirly {
  background-color: rgba(78, 205, 196, 1);
}

button.swirly:hover {
  background-color: rgba(78, 205, 196, .75);
}
